#welcome--container
  .welcome--content
    .title
      p break the cycle
    .slogan
      p You can't change the world
      p But you can change the world of one person
    .welcome--image
      img(src="/images/placeholder_face.jpg")
    .start--button#start
      button Start