extends layout

block content
  #welcome--container
    .welcome--content
      .title
        p break the cycle
      .slogan
        p You can't change everyone's world
        p But you can change someone's world
      .welcome--image
        img(src="/images/placeholder_face.jpg")
      .start--button#start
        button Start
  .canvas--container
    canvas(id="main--canvas")
  script(src="/javascripts/main.js")
  script(src="/javascripts/welcome.js")