doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendors/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/welcome.css')
    link(rel='stylesheet', href='/stylesheets/game.css')
  body
    block content
    script(src="/javascripts/vue.js")
    script(src="/javascripts/vue/game.js")