doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendors/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/welcome.css')
  body
    block content
